@charset "utf-8";
/*主页*/
.oftenFunction,.lastNews,.static,.taskCenter{float: left;border: 1px solid #ccc; margin-left:13px;margin-top:10px;margin-right:4px}
.oftenFunction{width:56%; height:150px; overflow: auto; }
.oftenFunction img{ display: inline-block;}
.oftenFunction p{float: left;padding-top:35px;padding-left: 22px;text-align: center; width:100px; height:100px;}
.oftenFunction span{display: block;text-align: center;margin-top:15px;}
.lastNews{width:32%;height:118px;line-height:23px; padding: 16px;min-height: 110px; overflow: auto;}
.lastNews li{height:23px; width:300px;}
.lastNews span{float: right;font-size: 10px;}
.clear{clear: both;width:100%;height:1px;}
.taskCenter{width:56%;  overflow: atuo;margin-top:15px;}
.static{width:35%;height:300px;margin-top:15px; overflow: auto;overflow-y:hidden; }


/*文章*/
.article h2{text-align: center;margin:10px;font-size: 18px;}
.article .base{margin:auto auto;text-align: center;}
.article .base span{margin:5px; padding-right:10px}
.article .content{padding-top:20px;overflow:auto;margin-left:80px;}